# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.next
.turbo
*.tsbuildinfo

# Env (NUNCA commitar - Regra 30)
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Testing
coverage
.nyc_output

# Misc
.cache
*.local
